ENV=dev
CORS_ORIGIN=*
ORIGIN_DEFAULT=localhost

COGNITO_REGION=us-east-1
COGNITO_POOL_ID=us-east-1_x40YybUXX
CLIENT_ID=qs3pkap3mh9dq5conru8r1ncu
CUSTOM_CHALLENGE=CUSTOM_CHALLENGE
AUTH_FLOW=CUSTOM_AUTH

#postgresql
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=FIAP
POSTGRES_HOST=gestao-postgresql

#python
HOST_API=localhost
PORT_API=8000